<div class="row">
  <div class="span7">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-stacked'}) do |f| %>
      <%= devise_error_messages! %>
      <% className = 'span6 xlarge' %>
      <fieldset>
        <div class="clearfix">
          <%= f.label :email %>
          <div class="input">
            <%= f.email_field :email, :class => className %>
          </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <%= f.label :password %>
          <div class="input">
            <%= f.password_field :password, :class => className %>
          </div>
        </div><!-- /clearfix -->
        <div class="clearfix">
          <%= f.label :password_confirmation %>
          <div class="input">
            <%= f.password_field :password_confirmation, :class => className %>
          </div>
        </div><!-- /clearfix -->
      </fieldset>

      <div class="actions">
        <%= f.submit "Sign up", :class => "btn large primary" %>
      </div>
    <% end %>
    <%= render :partial => "devise/shared/links" %>
  </div>
</div>
